pipeline/pl_main_orchestrator.json
{
	"name": "pl_main_orchestrator",
	"properties": {
		"activities": [
			{
				"name": "act_get_main_config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "dds_etl_fw_metadata",
						"type": "DatasetReference",
						"parameters": {
							"location": {
								"value": "@pipeline().parameters.metadataLocation",
								"type": "Expression"
							},
							"path": {
								"value": "@pipeline().parameters.metadataPath",
								"type": "Expression"
							},
							"configName": {
								"value": "@pipeline().parameters.metadataFilename",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "act_execute_stage_inorder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "act_get_main_config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('act_get_main_config').output.firstRow.executionOrder",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "act_get_tasks",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"dataset": {
									"referenceName": "dds_etl_fw_metadata",
									"type": "DatasetReference",
									"parameters": {
										"location": {
											"value": "@pipeline().parameters.metadataLocation",
											"type": "Expression"
										},
										"path": {
											"value": "@concat(pipeline().parameters.metadataPath, '/task')",
											"type": "Expression"
										},
										"configName": {
											"value": "@concat(item().stage, '.json')",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "act_invalid_stage",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "act_get_tasks",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@concat('Invalid stage: ', item().stage)",
									"type": "Expression"
								},
								"errorCode": "101"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"metadataLocation": {
				"type": "string",
				"defaultValue": "metadata"
			},
			"metadataPath": {
				"type": "string",
				"defaultValue": "config"
			},
			"metadataFilename": {
				"type": "string",
				"defaultValue": "main.json"
			},
			"maxConcurrentTasks": {
				"type": "int",
				"defaultValue": 20
			}
		},
		"folder": {
			"name": "top"
		},
		"annotations": []
	}
}